@media (min-width: 801px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }


    html {
        height: 100%;
        width: 100%;
    }

    .dropbtn {
        display: none !important;
    .
    }

    .dropdown {
        display: none !important;
    }

    li, a, button {

        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #ffffff;
        text-decoration: none;
    }

    .header {
        font-family: sans-serif;
        font-size: 20px;
        display: flex;
        color: #ffd500;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 10%;
        background-color: black;

    }


    .Tittel {
        color: #ffd500 !important;
    }

    .footer {

        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #ffd500;
        background-color: #000000;
        clear: both;
        position: fixed;
        padding-top: 15px;
        height: 50px;
        width: 100%;
        bottom: 0;
        right: 0;
        text-align: center !important;
        margin: auto;
        opacity: 1;
        text-shadow: 3px 3px 3px #483d3d;
        flex-shrink: 0;
    }

    .nav_links {
        list-style: none;
    }

    .nav_links li {
        color: #ffffff;
        display: inline-block;
        padding: 0px 10px;
    }

    .nav_links li a {
        color: #ffffff;
        transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover {
        color: #ffd500;
    }

    .knapp {
        position: relative;
        top: 300px;
        right: -50px;
        float: none;
        color: #000000;
        background: #ffd500 !important;
    }


    button {
        padding: 9px 5px;
        color: #000000;
        background-color: #ffd500;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;

    }

    button:hover {
        color: #ffffff;
    }


    .body, html {
        font-family: 'Montserrat', sans-serif;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        padding: 0;
        background-color: #000000;
    }

    .HomeKontainer {
        display: flex;
        height: 1100px;
        background-color: black;
        align-items: stretch;
    }

    .profilbilder{
        margin: 5px;
        width: 105px;
        height: 120px;
        object-fit: cover;
    }

    .fleks1 {
        max-width: 70%;
        height: auto;
        margin: 25px;
        solid-color: #e50000;
        background-color: #2b2b2b;
        text-align: center;
        color: #ffd500;
        padding-top: 20px;
        font-weight: bold;
        align-items: center;
        flex-grow: 1;
    }

    .h1 {
        font-family: 'Montserrat', sans-serif;
        padding-top: 50px;
        font-size: 50px;
        color: #ffd500;
        text-shadow: #000000;
        text-shadow: 5px 5px 5px #000000;


    }

    .p1 {
        border: white;
        padding-top: 70px;
        margin: 5px;
        font-size: 20px;
        color: rgb(232, 232, 232);
        float: none;
        top: 40px;
        display: inline-block;
        text-shadow: 3px 3px 5px #000000;

    }


    .fleks2 {

        width: 25%;
        margin: 20px;
        height: auto;
        solid-color: #e50000;
        background-color: #1f1f1f;
        text-align: center;
        color: #ffd500;
        padding-top: 90px;
        font-weight: bold;
        align-items: center;

    }


    .bilder {
        width: 200px;
        height: 200px;
        max-width: 100%;
        border-radius: 50%;
        display: inline;
        padding-right: 10px;
        margin: 20px;
        object-fit: cover;

    }
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ffd500, rgba(0, 0, 0, 0));
}


p b {
    color: #ffd500;
}


.Listetittel {
    color: #ffd500;
}


.flex-box-container {
    display: flex;
    height: auto;
    background-color: black;
    align-items: stretch;
}

.flexboxitem {
    width: 1500px;
    height: auto;
    margin: 25px;
    solid-color: #e50000;
    background-color: #2b2b2b;
    text-align: center;
    color: #ffd500;
    padding-top: 20px;
    font-weight: bold;
    align-items: stretch;
    flex-grow: 1;

}

.paragraf {
    color: #ffffff;
    font-size: 15px;
    margin: 30px;
    line-height: 42px;
    border-width: 20px;
    font-weight: 900;

}

.flexboxitem-1 {


}


div.flexboxitem.flexboxitem-1 {
    height: auto;
}


div.flexboxitem.flexbox-item-2 {
    background-color: #2b2b2b;
    color: #ffd500;
    font-size: 20px;
    padding-top: 30px;
    height: auto;
}

.andreBilder {
    margin-top: 130px;
    object-fit: cover;
    border: 10px solid #ffd500 !important;
}


.FleksSide3Kontainer {
    display: inline;
    max-width: 100%;
    background-color: black;
    align-items: stretch;
}

.side3Fleks1 {

    width: auto;
    height: auto;
    margin: 25px;
    background-color: #2b2b2b;
    text-align: center;
    color: #ffd500;
    padding-top: 20px;
    font-weight: bold;
    align-items: stretch;
    flex-grow: 1;
}

.side3Fleks2 {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: 350px;
    margin: 25px;
    background-color: #ffd500;
    text-align: center;
    color: #2b2b2b;
    padding-top: 20px;
    font-weight: bold;
    align-items: stretch;
    flex-grow: 1;
}

.side3Fleks3 {

    width: auto;
    height: 650px;
    margin: 25px;
    background-color: #2b2b2b;
    text-align: center;
    color: #ffd500;
    padding-top: 20px;
    font-weight: bold;
    align-items: stretch;
    flex-grow: 1;
}

a:link {
    color: white;

}

a:visited {
    color: grey;

}

a:hover {
    color: white;
}

.side3Fleks2 li a {
    margin-bottom: 30px;
    color: #000000 !important;
    font-weight: bolder;
}


.item {
    position:absolute;
    max-width:25%;
    max-height:45%;
    top:100%;
    left:50%;
    overflow:visible;
}

.quote {
    position:relative;
    max-width:100%;
    max-height:100%;
    margin-top:-50%;
    margin-left:-50%;
}

.AccFleks2 {
    height: 550px;
    max-height: 100%;
    margin: 25px;
    background-color: #ffd500;
    display: flex;
    align-items: center;
    justify-content: center;


}

div.Gallery {
    align-content: center;


}


div.Description {
    text-align: left;
    font-weight: 400;
    color: black;
}

.liste1 a:hover {
    background-color: white;
}

.Kolonne3 {
    background-color: #090405;
    color: #ffd500;

}


.testBilder {
    width: 270px;
    height: 270px;
    margin: 10px;
    max-width: 100%;
    object-fit: cover;
    border: 3px solid black;
    box-shadow: 10px 5px 5px #000000;


}

.Kolonne1 {
    color: #ffd500;
    width: 100%;
    text-align: center;
    background-color: #090405;
}

.Kolonne2 {
    width: 100%;
    align-content: center;
    background-color: #090405;
}

div audio {
}

.iFrame_Container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iFrame_Container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 800px) {


    .dropbtn {
        background-color: #ffd500;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #ffd500;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }


    li, a, button {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        color: #ffffff;
        text-decoration: none;
    }

    .nav_links {
        color: white;
    }


    .cta {
        display: none;
    }

    .header {
        font-family: sans-serif;
        font-size: 10px;
        display: flex;
        color: #ffd500;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        width: 100%;

    }

    .Dekstopliste{
        display: none!important;
    }

    .HomeKontainer {
        display: block;
        max-width: 100%;
        max-height: 100%;
        background-color: #000000;
    }


    .fleks1 {
        width: 100%;
        height: 100%;
        solid-color: #e50000;
        background-color: #2b2b2b;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        align-items: center;
        flex-grow: 1;
        margin-bottom: 30px;
    }

    .bilder {
        width: 100px;
        height: 100px;
        border-radius: 50%;

    }

    .profilbilder{
        width: 150px;
        height: 200px;
        object-fit: cover;
        margin: 5px;
    }

    .fleks2 {

        width: 100%;
        height: auto;
        solid-color: #e50000;
        background-color: #1f1f1f;
        text-align: center;
        color: #ffd500;
        padding-top: 50px;
        font-weight: bold;
        align-items: center;

    }

    .footer {

        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: #ffd500;
        background-color: #000000;
        clear: both;
        padding-top: 15px;
        height: 50px;
        width: 100%;
        bottom: 0;
        right: 0;
        text-align: center !important;
        margin: auto;
        opacity: 1;
        text-shadow: 3px 3px 3px #483d3d;
        flex-shrink: 0;
    }

    .h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        color: #ffd500;
        margin: 0;
        padding: 35px;
        text-shadow: #000000;
        text-shadow: 5px 5px 5px #000000;


    }

    .Listetittel {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }

    .knapp {
        margin-top: 20px;
        color: #000000;
        background: #ffd500 !important;
    }

    body {
        margin: 0;
        width: 100% !important;
        background-color: black;
    }

    .flexboxitem {
        width: 100%;
        background-color: #2b2b2b;
        text-align: center;
        color: #ffd500;
        font-weight: bold;
        align-items: stretch;
        flex-grow: 1;
        margin: 0;

    }

    .flexboxitem-1 {
        height: 100%;
        width: 100%;
        background-color: black;
        margin: 0;


    }

    .flexbox-item-2 {
        height: 100%;
        width: 100%;
    }

    .andreBilder {
        width: 300px;
        height: 250px;
        object-fit: cover;
        border: 5px solid #ffd500 !important;
    }

    .flex-box-container {
        display: block;
        width: 100%;
        background-color: black;
    }

    .paragraf {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 15px;
        line-height: 36px;
        border-width: 20px;
        font-weight: 900;

    }

    .FleksSide3Kontainer {
        display: block;
        max-width: 100%;
        background-color: black;

    }

    .side3Fleks1 {
        width: 100%;
        height: 100%;
    }


    .AccFleks2 {
        margin: 0;
        height: 100%;
        width: 100%;
        background-color: #ffd500;
        display: block;


    }

    .testBilder {
        width: 90% !important;
        height: 300px;
        object-fit: cover;
        align-content: center;


    }


    .FleksSide3Kontainer {
        width: 100%;
    }

    div.Gallery {
        width: 100%;
        margin: 0 !important;
    }


    .side3Fleks1 {
        margin: 0px !important;
    }

    .side3Fleks3 {
        height: 100%;
        margin: 0;
    }

    .side3Fleks2 {
        height: 100%;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }


    .quote {
        height: 100%;
        width: 100%;
        object-fit: contain;
        margin-bottom: 10px;
    }

    .Headere {
        font-family: 'Montserrat', sans-serif;
    }

    .p1 {
        margin: 5px;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
    }

    .Tittel {
        color: #ffd500 !important;
    }

    .sources {
        color: black;

    }

    li a:hover {
        background-color: white;

    }

    .MobilBilder {
        display: block !important;
        align-content: center;
        margin: 5px;
    }

    .Description {
        font-family: 'Montserrat', sans-serif;
    }

    .Kolonne1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
    }

    .Kolonne2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
    }

    .Kolonne3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
    }

}





